Repository SchemaBounce/Kolumn-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: banned-terms, go-doc-check, validate-examples, interface-compliance, binary-naming, schema-validation

banned-terms:
  name: Check for banned terms (terraform references)
  entry: scripts/check-banned-terms.sh
  language: script

go-doc-check:
  name: Check Go documentation coverage
  entry: scripts/check-go-docs.sh
  language: script
  pass_filenames: true

validate-examples:
  name: Validate example code compiles
  entry: scripts/validate-examples.sh
  language: script
  pass_filenames: false

interface-compliance:
  name: Check Provider interface compliance
  entry: scripts/check-interface-compliance.sh
  language: script
  pass_filenames: false

binary-naming:
  name: Validate provider binary naming convention
  entry: scripts/check-binary-naming.sh
  language: script

schema-validation:
  name: Validate provider schemas
  entry: scripts/validate-schemas.sh
  language: script
  pass_filenames: false

Add governance and schema testing framework
  .claude/settings.local.json
  core/governance.go
  docs/SCHEMA_TESTING.md
  examples/provider-with-schema-testing/.pre-commit-config.yaml
  examples/provider-with-schema-testing/README.md
  examples/provider-with-schema-testing/go.mod
  examples/provider-with-schema-testing/main.go
  examples/provider-with-schema-testing/schema_consistency_test.go
  go.mod
  go.sum
  helpers/governance/helpers.go
  templates/pre-commit-config.yaml
  templates/schema_consistency_test.go
  testing/README.md
  testing/schema_testing.go
Due: banned-terms, go-doc-check, validate-examples, interface-compliance, binary-naming, schema-validation

Add comprehensive validation framework and provider prefixes support
  core/provider.go
  core/validation.go
  examples/provider-prefixes/main.go
  helpers/ui/prefixes.go
Due: banned-terms, go-doc-check, validate-examples, interface-compliance, binary-naming, schema-validation

Rename validation types for config-specific clarity
  core/provider.go
  core/validation.go
  examples/provider-prefixes/.claude/settings.local.json
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

Add core state management interfaces and helpers
  state/adapter.go
  state/backend_provider.go
  state/helpers.go
  state/universal_state.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

Add universal logging SDK for providers
  .claude/settings.local.json
  examples/simple/provider.go
  go.mod
  go.sum
  helpers/logging/README.md
  helpers/logging/helpers.go
  helpers/logging/helpers_test.go
  helpers/logging/integration_test.go
  helpers/logging/logger.go
  helpers/logging/logger_test.go
  helpers/logging/security_test.go
  helpers/logging/simple_test.go
  helpers/logging/testing.go
  helpers/logging/testing_test.go
Due: banned-terms, go-doc-check, validate-examples, interface-compliance, binary-naming, schema-validation

Remove ValidateConfig from Provider interface to restore 4-method RPC pattern
  .claude/settings.local.json
  4-METHOD-PATTERN.md
  CLAUDE.md
  README.md
  core/provider.go
  docs/VALIDATION_GUIDE.md
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

removing RPC
  docs/interface.md
  enterprise_safety/backup_framework.go
  enterprise_safety/base_provider.go
  enterprise_safety/cascade_framework.go
  enterprise_safety/interfaces.go
  enterprise_safety/interfaces_test.go
  enterprise_safety/types.go
  runtime/registry.go
  runtime/registry_test.go
  runtime/types.go
  runtimehelpers/README.md
  runtimehelpers/sqlrunner/runner.go
  runtimehelpers/sqlrunner/runner_test.go
  runtimehelpers/telemetry/factory.go
  runtimehelpers/telemetry/logger.go
  runtimehelpers/telemetry/logger_test.go
  runtimehelpers/testkit/harness.go
  runtimehelpers/testkit/harness_test.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

adding logging styling
  helpers/logging/logger.go
  runtime/types.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

adding delete tooling and better logging
  helpers/logging/README.md
  helpers/logging/config_test_helpers.go
  helpers/logging/helpers.go
  helpers/logging/helpers_test.go
  helpers/logging/integration_test.go
  helpers/logging/logger.go
  helpers/logging/logger_test.go
  helpers/logging/security_test.go
  helpers/logging/testing.go
  helpers/logging/testing_test.go
  helpers/quarantine/quarantine.go
  helpers/quarantine/quarantine_test.go
  helpers/ui/prefixes.go
  helpers/ui/styles.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

correcting logging styling
  enterprise_safety/backup_framework.go
  enterprise_safety/base_provider.go
  enterprise_safety/cascade_framework.go
  enterprise_safety/interfaces.go
  enterprise_safety/interfaces_test.go
  enterprise_safety/types.go
  runtime/registry.go
  runtime/registry_test.go
  runtime/types.go
  templates/schema_consistency_test.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

rpc pattern enhancement
  README.md
  cmd/kolumn-docs-gen/main.go
  core/doclinks.go
  core/documentation.go
  core/provider.go
Due: banned-terms, go-doc-check, interface-compliance, binary-naming, schema-validation

adding more concrete patterns
  core/context.go
  core/discovery.go
  core/discovery_interface.go
  core/discovery_test.go
  core/provider.go
  helpers/logging/README.md
  helpers/logging/plan_helpers.go
  helpers/logging/plan_helpers_test.go
  helpers/ui/styles.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

docs: Update CLAUDE.md with function requirements by provider type
  CLAUDE.md
Due: banned-terms

docs: Add Provider Specification and Discovery documentation
  docs/DISCOVERY.md
  docs/PROVIDER_SPECIFICATION.md
Due: banned-terms

feat: add word-wrapping and block-style formatting utilities
  helpers/ui/styles.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

feat: migrate sqltemplates package from base Kolumn CLI to SDK
  go.mod
  go.sum
  helpers/sqltemplates/sqltemplates.go
  helpers/sqltemplates/sqltemplates_test.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

adding ui human output helpers
  docs/PROVIDER_SPECIFICATION.md
  helpers/ui/human_output.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

feat(ui): add structured error formatting and drift operations display
  helpers/ui/human_output.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

docs: add GetTypeConversion RPC to provider specification
  docs/PROVIDER_SPECIFICATION.md
Due: banned-terms

style: darken yellow colors for light terminal readability
  helpers/ui/styles.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

chore: add .claude/settings.local.json to gitignore
  .claude/settings.local.json
  .gitignore
Due: banned-terms

docs: add RLS and CHECK attributes to provider specification schema example
  docs/PROVIDER_SPECIFICATION.md
Due: banned-terms

fix: unify yellow color to single shade (178) for all warning/drift output
  helpers/ui/human_output.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

chore: clean repo for public-facing SDK
  .gitignore
  .secrets.baseline
  CLAUDE.md
  examples/provider-prefixes/.claude/settings.local.json
  simple
Due: banned-terms

feat: add semantic protocol versioning and update logging docs
  core/provider.go
  helpers/logging/README.md
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

fix: replace BrightYellow with Yellow for consistent warning color
  helpers/ui/human_output.go
  helpers/ui/styles.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

Adding git patterns
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: banned-terms

fix: detect real terminal width to prevent unwanted line wrapping
  helpers/ui/styles.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

fix: split terminal width detection into platform-specific files
  helpers/ui/styles.go
  helpers/ui/terminal_unix.go
  helpers/ui/terminal_windows.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

fix(quarantine): use microsecond timestamp to prevent name collisions
  helpers/quarantine/quarantine.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

test(quarantine): pin microsecond timestamp format with regression tests
  helpers/quarantine/quarantine_test.go
Due: banned-terms, go-doc-check, interface-compliance, schema-validation

Path conditions:
  banned-terms: any of: \.(go|md|txt|yaml|yml|json)$
  go-doc-check: any of: \.go$
  validate-examples: any of: examples/.*\.go$
  interface-compliance: any of: \.go$
  binary-naming: any of: examples/.*\.go$|cmd/.*\.go$
  schema-validation: any of: \.go$
